body, h1, h2, h3, p, li, ul, ol, nav, section, header, footer, strong, div, span, aside, a, button, form, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  text-decoration: inherit;
  background: transparent; }

ul, ol {
  list-style: none; }

*:focus {
  outline: none; }

body {
  font-family: Roboto, sans-serif; }

.navbar {
  width: 100%;
  position: fixed;
  background-color: #FFDC6D; }

.navbar-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em;
  align-items: center;
  height: 3em;
  width: 70%; }
  .navbar-content .navbar-left {
    display: flex;
    align-items: center; }
    .navbar-content .navbar-left img {
      width: 3.5em;
      height: 3.5em;
      border-radius: 50%;
      margin-right: 1em; }
    .navbar-content .navbar-left h1 {
      font-size: 1.5em; }
    .navbar-content .navbar-left img:hover, .navbar-content .navbar-left h1:hover {
      cursor: pointer; }
  .navbar-content .navbar-right {
    display: flex; }
    .navbar-content .navbar-right .navbar-right-link {
      margin-left: 0.25em;
      display: block;
      padding: 1em;
      font-size: 0.90em;
      position: relative; }
    .navbar-content .navbar-right .navbar-right-menu {
      display: none; }
    .navbar-content .navbar-right li:hover {
      cursor: pointer;
      background-color: #3F4359;
      color: white;
      font-weight: bold; }
    @media only screen and (max-width: 1200px) {
      .navbar-content .navbar-right .navbar-right-link {
        display: none; }
      .navbar-content .navbar-right .navbar-right-menu {
        display: block; } }

.navbar-filler {
  height: 5em; }

.footer {
  background-color: #3F4359;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer h2 {
    text-align: center;
    color: #FFDC6D;
    font-weight: bolder;
    font-size: 1.5em;
    margin-top: 1em; }
  .footer button {
    font-size: 1.5em;
    color: white;
    padding: 0.5em 1em;
    border: 2px solid white;
    width: 10em;
    margin: 1em auto; }
  .footer button:hover {
    background-color: gray;
    border-color: gray;
    color: white;
    cursor: pointer; }
  .footer .footer-icons {
    margin: 0 auto;
    font-size: 1.5em;
    color: white; }
    .footer .footer-icons i {
      padding: 0 0.75em; }
    .footer .footer-icons i:hover {
      color: #FFDC6D;
      cursor: pointer; }
  .footer .footer-disclaimer {
    margin: 0 auto;
    color: #FFDC6D;
    margin: 1em 0 2em 0; }
    .footer .footer-disclaimer p {
      text-align: center; }

.landing {
  width: 100%; }
  .landing .landing-img-container {
    height: 67vh;
    width: 100%;
    overflow: hidden;
    background-color: #3F4359; }
    .landing .landing-img-container img {
      width: 100vw;
      height: auto;
      margin: 0 auto; }
  .landing .landing-banner {
    box-sizing: border-box;
    text-align: center;
    padding: 5vh 0;
    background-color: #3F4359; }
    .landing .landing-banner h1 {
      font-size: 3em;
      margin-bottom: 1.5em;
      color: white;
      font-weight: bolder; }
    .landing .landing-banner button {
      padding: 0.5em 1.5em;
      font-size: 1em;
      font-weight: bolder;
      border: 0.2em solid #FFDC6D;
      color: #FFDC6D;
      letter-spacing: 0.3em; }
    .landing .landing-banner button:hover {
      background-color: gray;
      border-color: gray;
      color: white;
      cursor: pointer; }
  .landing .landing-video {
    overflow: hidden;
    background-color: #3F4359; }
    .landing .landing-video iframe {
      width: 99vw;
      height: 46vw;
      margin: 0 auto;
      display: block; }

.hover-dropdown {
  display: none; }

.hover-dropdown-display {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: #3F4359;
  width: 10vw; }
  .hover-dropdown-display li {
    padding: 1em;
    font-size: 0.85em; }
  .hover-dropdown-display li:hover {
    background-color: #3F4359;
    color: white; }

.about {
  background-color: #3F4359; }

.about-splash {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  height: 46vh; }

.about-content {
  width: 50em;
  margin: 0 auto;
  padding: 3em 0;
  color: white;
  display: flex;
  flex-direction: column; }
  .about-content h1, .about-content h2, .about-content h3 {
    margin-bottom: 0.25em; }
  .about-content h1 {
    font-size: 2em;
    font-weight: bold;
    color: #FFDC6D; }
  .about-content h2 {
    font-size: 1.5em;
    color: #FFDC6D; }
  .about-content p {
    font-size: 1em;
    margin-bottom: 1em;
    text-align: justify; }
  .about-content li {
    margin-bottom: 0.25em;
    margin-left: 1.25em;
    list-style: circle; }
  .about-content .about-we-are {
    display: flex;
    margin-bottom: 2em; }
    .about-content .about-we-are img {
      flex: 1;
      border: 1px solid black;
      margin-left: 1em; }
    .about-content .about-we-are div {
      flex: 3; }
  .about-content .about-mission {
    display: flex;
    margin-bottom: 2em; }
    .about-content .about-mission img {
      flex: 2;
      border: 1px solid black;
      margin-right: 1em; }
    .about-content .about-mission div {
      flex: 3.5; }
  .about-content .about-faith {
    display: block; }
    .about-content .about-faith img {
      width: 40em;
      border: 1px solid black;
      height: 20em;
      display: block;
      margin: 1em auto; }
  .about-content .about-button {
    background-color: transparent;
    border: 2px solid #FFDC6D;
    color: #FFDC6D;
    font-size: 1em;
    padding: 0.5em 2.5em;
    width: 12em;
    align-self: center; }
  .about-content .about-button:hover {
    background-color: #FFDC6D;
    cursor: pointer;
    color: #3F4359; }

.stories {
  background-color: gray; }

.stories-splash {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  height: 14vh; }

.stories-content {
  width: 50em;
  margin: 0 auto;
  padding: 3em 0;
  display: flex;
  flex-wrap: wrap; }
  .stories-content .stories-item {
    width: 32%;
    height: 40vh;
    background-color: #3F4359;
    margin: 0.25em auto;
    box-sizing: border-box; }
  .stories-content .stories-item:hover {
    border: 0.15em solid #FFDC6D;
    cursor: pointer; }

/*# sourceMappingURL=index.css.map */
