body, h1, h2, h3, p, li, ul, ol, nav, section, header, footer, strong, div, span, aside, a, button, form, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  text-decoration: inherit;
  background: transparent; }

ul, ol {
  list-style: none; }

*:focus {
  outline: none; }

body {
  font-family: Roboto, sans-serif; }

.navbar {
  width: 100%;
  position: fixed;
  background-color: #FFDC6D; }

.navbar-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em;
  align-items: center;
  height: 3em;
  width: 70%; }
  .navbar-content .navbar-left {
    display: flex;
    align-items: center; }
    .navbar-content .navbar-left img {
      width: 3em;
      height: 3em;
      border: 1px solid black;
      border-radius: 50%;
      margin-right: 1em; }
    .navbar-content .navbar-left h1 {
      font-size: 1em; }
    .navbar-content .navbar-left img:hover, .navbar-content .navbar-left h1:hover {
      cursor: pointer; }
  .navbar-content .navbar-right {
    display: flex; }
    .navbar-content .navbar-right li {
      margin-left: 0.25em;
      display: block;
      padding: 1em;
      font-size: 0.85em; }
    .navbar-content .navbar-right .navbar-right-menu {
      display: none; }
    .navbar-content .navbar-right li:hover {
      cursor: pointer;
      background-color: #3F4359;
      color: white;
      font-weight: bold; }
    @media only screen and (max-width: 1200px) {
      .navbar-content .navbar-right li {
        display: none; }
      .navbar-content .navbar-right .navbar-right-menu {
        display: block; } }

.navbar-filler {
  height: 5em; }

.footer {
  background-color: #3F4359;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer h2 {
    text-align: center;
    color: #FFDC6D;
    font-weight: bolder;
    font-size: 1.5em;
    margin-top: 1em; }
  .footer button {
    font-size: 1.5em;
    color: white;
    padding: 0.5em 1em;
    border: 2px solid white;
    width: 10em;
    margin: 1em auto; }
  .footer button:hover {
    background-color: gray;
    border-color: gray;
    color: white;
    cursor: pointer; }
  .footer .footer-icons {
    margin: 0 auto;
    font-size: 1.5em;
    color: white; }
    .footer .footer-icons i {
      padding: 0 0.75em; }
    .footer .footer-icons i:hover {
      color: #FFDC6D;
      cursor: pointer; }
  .footer .footer-disclaimer {
    margin: 0 auto;
    color: #FFDC6D;
    margin: 1em 0 2em 0; }
    .footer .footer-disclaimer p {
      text-align: center; }

.landing {
  width: 100%; }
  .landing .landing-img-container {
    height: 67vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: #3F4359; }
    .landing .landing-img-container img {
      width: auto;
      height: inherit;
      margin: 0 auto; }
  .landing .landing-banner {
    box-sizing: border-box;
    text-align: center;
    padding: 5vh 0;
    background-color: #3F4359; }
    .landing .landing-banner h1 {
      font-size: 3em;
      margin-bottom: 1.5em;
      color: white;
      font-weight: bolder; }
    .landing .landing-banner button {
      padding: 0.5em 1.5em;
      font-size: 1em;
      font-weight: bolder;
      border: 0.2em solid #FFDC6D;
      color: #FFDC6D;
      letter-spacing: 0.3em; }
    .landing .landing-banner button:hover {
      background-color: gray;
      border-color: gray;
      color: white;
      cursor: pointer; }
  .landing .landing-video {
    overflow: hidden;
    background-color: #3F4359; }
    .landing .landing-video iframe {
      width: 99vw;
      height: 46vw;
      margin: 0 auto;
      display: block; }

.dropdown {
  display: none; }

/*# sourceMappingURL=index.css.map */
