.about-splash {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
}

.about-content {
    display: flex;
    flex-direction: column;

    .about-we-are {
        display: flex;
        margin-bottom: 2em;

        img {
            flex: 1;
            border: 1px solid black;
            margin-left: 1em;
        }

        div {
            flex: 3;
        }
    }

    .about-mission {
        display: flex;
        margin-bottom: 2em;
        
        img {
            flex: 2;
            border: 1px solid black;
            margin-right: 1em;
        }

        div {
            flex: 3.5;
        }

    }

    .about-faith {
        display: block;

        img {
            width: 40em;
            border: 1px solid black;
            height: 20em;
            display: block;
            margin: 1em auto;
        }
    }

    .about-button {
        align-self: center;
    }
}