.stories-splash {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
}

.stories-page-content {

    .paragraph {
        margin-top: 1em;
    }

    .button1 {
        margin: 2em auto 0 auto;
    }
}