.stories {
    background-color: $main-shade;
}

.stories-splash {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
    height: 14vh;
    padding-top: 1px;
    margin-top: -1px;

    h1 {
        color: $main-accent;
        font-size: $head2-size;
        font-weight: bolder;
        text-align: center;
        margin-top: 1.5em;
    }
}

.stories-content {
    width: 50em;
    margin: 0 auto;
    padding: 3em 0;
    display: flex;
    flex-wrap: wrap;

    .stories-item {
        width: 32%;
        height: 40vh;
        background-color: $main-dark;
        margin: 0.25em auto;
        box-sizing: border-box;

        h1 {
            text-align: center;
            margin-top: 3em;
            color: $main-accent;
            font-size: $head3-size;
            display: none;
        }
    }

    .stories-item:hover {
        border: 0.15em solid $main-accent;
        cursor: pointer;

        h1 {
            display: block;
        }
    }

    
}

.stories-page {
    width: 50em;
    margin: 0 auto;
    padding: 3em 0;

    h1 {
        font-size: $head2-size;
        color: $main-accent;
        font-weight: bold;
    }

    p {
        margin-top: 1em;
        color: $main-highlight;
        text-align: justify;
    }

    button {
        margin: 2em auto 0 auto;
    }
}