

.head1 {
    font-size: $head1-size;
    color: $main-highlight;
    font-weight: bolder;
}

.head2 {
    font-size: $head2-size;
    color: $main-accent;
    font-weight: bold;
}

.head3 {
    font-size: $head3-size;
    color: $main-accent;
}

.paragraph {
    font-size: $paragraph-size;
    color: $main-highlight;
    text-align: justify;
}

.bullets {
    margin-bottom: 0.25em;
    margin-left: 1.25em;
    list-style: circle;
}

.detail {
    font-size: $detail-size;
    color: $main-accent;
}




.button1 {
    background-color: transparent;
    border: 2px solid $main-accent;
    color: $main-accent;
    font-size: $paragraph-size;
    padding: 0.5em 5em;
    display: block;
}

.button1:hover {
    background-color: $main-accent;
    color: $main-dark;
}

.button2 {
    padding: 0.5em 1.5em;
    font-size: $paragraph-size;
    font-weight: bolder;
    border: 0.2em solid $main-accent;
    color: $main-accent;
    letter-spacing: 0.3em;
}

.button2:hover {
    background-color: $main-shade;
    border-color: $main-shade;
    color: $main-highlight;
}

.button3 {
    font-size: $head3-size;
    color: $main-highlight;
    padding: 0.5em 1em;
    border: 2px solid $main-highlight;
    width: 10em;
}

.button3:hover {
    background-color: $main-shade;
    border-color: $main-shade;
    color: $main-highlight;
}
