.footer {
    background-color: $main-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h2 {
        text-align: center;
        color: $main-accent;
        font-weight: bolder;
        font-size: $head3-size;
        margin-top: 1em;
    }

    button {
        font-size: $head3-size;
        color: $main-highlight;
        padding: 0.5em 1em;
        border: 2px solid $main-highlight;
        width: 10em;
        margin: 1em auto;
    }

    .footer-icons {
        margin: 0 auto;
        font-size: 1.5em;
        color: $main-highlight;
    }

    .footer-disclaimer {
        margin: 0 auto;
        color: $main-accent;
        margin: 1em 0 2em 0;
        
        p {
            text-align: center;
        }
    }
}