.footer {
    background-color: $main-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .head3 {
        text-align: center;
        margin-top: 1em;
        font-weight: bolder;
    }

    .button3 {
        margin: 1em auto;
    }


    .footer-icons {
        margin: 0 auto;
        font-size: 1.5em;
        color: $main-highlight;

        i {
            padding: 0 0.75em;
        }

        i:hover {
            color: $main-accent;
            cursor: pointer;
        }
    }

    .footer-disclaimer {
        margin: 0 auto;
        margin: 1em 0 2em 0;
        
        .paragraph {
            text-align: center;
            color: $main-accent;
        }
    }
}