.hover-dropdown, .hover-left {
    display: none;
}

.hover-dropdown-display, .hover-left-display {
    display: block;
    position: absolute;

    background-color: $main-highlight;
    color: $main-dark;
    width: 10vw;

    li {
        padding: 1em;
        font-size: 0.85em;
    }

    li:hover {
        background-color: $main-dark;
        color: $main-highlight;
    }
}

.hover-dropdown-display {
    top: 100%;
    right: 0;
}

.hover-left-display {
    right: 100%;
    top: 0;
}

.navbar-menu-link {
    margin-left: 0.25em;
    display: block;
    padding: 1em;
    font-size: 0.90em;
    position: relative;

    li {
        font-size: $paragraph-size;
    }
}