.notfound {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 66vh;

    .head3 {
        margin-top: 1em;
    }

    .button1 {
        margin-top: 3em;
    }
}