.large-splash {
    height: 46vh;
    padding-top: 1px;
    margin-top: -1px;

    h1 {
        font-size: $head1-size;
        color: $main-highlight;
        text-align: center;
        margin-top: 1.80em;
        font-weight: bolder;
    }
}

