.main-page {
    background-color: $main-dark;
}

.main-splash {
    height: 46vh;
    padding-top: 1px;
    margin-top: -1px;

    .head1 {
        text-align: center;
        margin-top: 1.80em;
    }
}

.main-splash {
    height: 46vh;
    padding-top: 1px;
    margin-top: -1px;

    .head1 {
        text-align: center;
        margin-top: 1.80em;
    }
}

.main-content {
    width: 50em;
    margin: 0 auto;
    padding: 3em 0;
    color: $main-highlight;

    .head2, .head3 {
        margin-bottom: 0.25em;
    }

    .paragraph {
        margin-bottom: 1em;
    }
}


.tile-set {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;

    .tile1, .tile2 {
        background-color: $main-dark;
        margin-bottom: 2em;
        border: 2px solid transparent;
        box-sizing: border-box;
        padding: 0.5em;

        .head3 {
            display: none;
            text-align: center;
        }
    }

    .tile1 {
        position: relative;
        padding-top: 48%;
        width: 48%;

        .head3 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .tile2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 32%;
        height: 40vh;

        .head3 {
            .fa {
                display: block;
            }

            .fa-quote-left {
                margin-bottom: 0.5em;
            }

            .fa-quote-right {
                margin-top: 0.5em;
            }
        }
    }

    .tile1:hover, .tile2:hover {
        cursor: pointer;
        border: 2px solid $main-accent;

        .head3 {
            display: block;
        }
    }
}

.detail-page {
    background-color: $main-shade;
}

.detail-splash {
    height: 14vh;
    padding-top: 1px;
    margin-top: -1px;

    .head2 {
        text-align: center;
        margin-top: 1.5em;
    }
}

.detail-content {
    width: 50em;
    margin: 0 auto;
    padding: 3em 0;
}