.landing {
    width: 100%;


    .landing-img-container {
        width: 100%;
        overflow: hidden;
        background-color: $main-dark;


        img {
            width: 100vw;
            height: auto;
            margin: 0 auto;
        }
    }

    

    .landing-banner {
        box-sizing: border-box;
        text-align: center;
        padding: 5vh 0;
        background-color: $main-dark;

        .head1 {
            margin-bottom: 1.5em;
        }
    }

    .landing-video {
        overflow: hidden;
        background-color: $main-dark;

        iframe {
            width: 99vw;
            height: 46vw;
            margin: 0 auto;
            display: block;
        }
    }
}