.activities-splash {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg')
}

.activities-content {

    .activities-tiles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;

        .activities-item {
            background-color: $main-shade;
            padding-top: 48%;
            width: 48%;
        }

        @media only screen and (max-width: 50em) {
            display: block;
            width: 100vw;
            padding: 0 2em;
        }
    }

    .activities-interested {
        text-align: center;
    }

    .activities-button {
        margin: 2em auto;
    }
}