.college-conference-splash {
    height: 95vh;
    background-color: $main-shade;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .college-conference-splash-title {
        border: 2px solid $main-dark;
        display: block;
        width: 50%;
        padding: 4em;
        margin-bottom: 6em;

        .head3, .head1 {
            color: $main-dark;
        }

        .head3 {
            margin-bottom: 1em;
        }
    }
    
    .fa {
        font-size: $head3-size;
        color: $main-dark;
    }
}

.college-conference-description, .college-conference-topic {
    height: 25vh;
    width: 40vw;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    
    .head2 {
        margin-top: 1em;
    }

    .paragraph {
        margin-top: 1em;
        text-align: center;
    }

    .button2 {
        margin-top: 2em;
    }
}

.college-conference-video {
    background-color: $main-dark;
    position: relative;
    padding-top: 45%;
    overflow: hidden;

    .big-video {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.college-conference-topic {
    height: 25vh;

    .head2 {
        margin: 2em 0 1em 0;
    }
}

.college-conference-details {
    background-color: $main-accent;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60vh 60vh 60vh;

    .college-conference-tile {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 25%;

        .button2 {
            align-self: center;
            margin-top: 3em;
        }

        .head2 {
            line-height: 1.5em;
            text-align: center;
        }

    }

    .college-conference-details-price {
        background-color: $main-highlight;

        .head2 {
            margin-bottom: 2em;
        }

        .paragraph {
            color: $main-dark;

            .strong {
                font-weight: bolder;
            }
        }

        .detail {
            color: $main-dark;
            margin-top: 1.5em;

            .highlight-text {
                color: $main-accent;
            }
        }

        .paypal-button {
            margin-top: 1em;
            height: 2em;
            display: block;
            align-self: center;
        }

        .paypal-button:hover {
            cursor: pointer;
        }
    }

    .college-conference-testimonial {
        background-color: $main-dark;
    }
}

.college-conference-highlights {
    height: 50vh;
    background-color: $main-shade;
    display: flex;
    justify-content: center;
    align-items: center;
}

.college-conference-button-splash {
    height: 75vh;
    background-color: $main-highlight;
    display: flex;
    justify-content: center;
    align-items: center;

    .college-conference-button {
        font-size: $head2-size;
        color: $main-dark;
        border: 2px solid $main-dark;
        padding: 1em 2em;
    }

    .college-conference-button:hover {
        background-color: $main-accent;
    }
}