.twos-threes-splash {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg')
}

.twos-threes-content {

    .twos-threes-verse {
        text-align: justify;
    }

    .twos-threes-verse-ref {
        text-align: right;
    }

    .twos-threes-quotes {
        margin-top: 2em;

        .twos-threes-quote {
            border: 2px solid $main-highlight;
            .head3 {
                display: block;
                color: $main-highlight;
            }
        }

        .twos-threes-quote:hover {
            cursor: default;
        }
    }

    .paragraph {
        margin-bottom: 1em;
    }
}