.upcoming-splash {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
}

.upcoming-content {
    .banner {
        width: 100%;
        margin-bottom: 5vh;

        .banner-img {
            height: 30vh;
            width: 100%;
            margin-bottom: 2vh;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        p {
            white-space: pre-line;
        } 
    }
}