.contact-splash {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg')
}

.contact-content {
    
    .contact-form {
        display: none;
        color: $main-highlight;

        .contact-form-flex{
            display: flex;

            div {
                margin-right: 1em;
            }

            div:last-child {
                margin-right: 0;
            }

        }

        .paragraph {
            margin-top: 1em;
            color: $main-accent;
        }

        input, textarea {
            background-color: white;
            margin-top: 0.5em;
            width: 20em;
            padding: 0.25em;
        }

        input[type="email"] {
            width: 41.5em;
        }

        input {
            height: 2em;
        }
    }

    .contact-response {
        display: none;
    }

    .contact-display {
        display: block;
    }
}

