.contact-splash {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg')
}

.contact-content {
    
    .contact-form {
        color: $main-highlight;

        .contact-form-flex{
            display: flex;

            div {
                margin-right: 1em;
            }

            div:last-child {
                margin-right: 0;
            }

        }

        .paragraph {
            margin-top: 1em;
            margin-bottom: 0.5em;
            color: $main-accent;
        }
        
        input, select {
            font-family: $sans-serif;
            background-color: white;
            padding-left: 0.25em;
            font-size: $paragraph-size;
            height: 1.85em;
            border: 0;
        }
        
        input[type="text"], textarea {
            width: 20em;
            background-color: white;
        }

        input[type="email"] {
            width: 47em;
            background-color: white;
        }

        textarea {
            height: 5em;
        }

        .button1 {
            margin-top: 1em;
        }

        .contact-contact-info {
            display: flex;
            align-items: center;

            input[type="text"] {
                margin-right: 1em;
            }

            input[type="checkbox"] {
                margin-right: 0.5em;
            }
        }

        .contact-interests {
            label {
                display: flex;
                align-items: center;
                margin-bottom: 0.5em;
                color: $main-highlight;

                input {
                    margin-right: 0.5em;
                }
            }
        }

    }

    .contact-response {
        text-align: center;

        .paragraph {
            text-align: center;
            margin-bottom: 1em;
            margin-top: 0.25em;
        }

        .button1 {
            margin: 0 auto 1em auto;
        }

        .button2:hover {
            background-color: $main-dark;
            border-color: $main-dark;
        }
    }
}