$main-dark: #3F4359;
$main-accent: #FFDC6D;
$main-highlight: white;
$main-shade: gray;
$ca-gold: #FDB515;

$head1-size: 3em;
$head2-size: 2em;
$head3-size: 1.5em;

$paragraph-size: 1em;
$detail-size: 0.6em;

$sans-serif: Roboto, sans-serif;
$serif: Amiri, serif;

$navbar-height: 3em;
$navbar-fill: $navbar-height + 2em;